
 *{
    background-color: black;
} 

body{
     display: flex;
   justify-content: center;
   align-items: center;
}

#bacg
{
     position: relative;
    top: 100px;
    align-content: center;
    text-align: center;
    width: 620px; 
    height: 415px;
    border-radius: 40px;
    overflow: hidden;  
}

#bacg::before{
    content: "";
    position: absolute;
    inset: 0;
    right: -20%;
    left: -25%;
    top: -25%;
    padding: 4px; 
    border-radius: 40px;
    background-image: conic-gradient(from 90deg, rgb(0 0 0/ 0%) 80% , rgb(255, 0, 170) 70%,rgb(78, 142, 197) 100%);
    animation: circularMove 4s linear infinite;
}

@keyframes circularMove {
100% {
    transform: rotate(360deg);
  }
}

.container{
    position: relative;
     z-index: 2;
    left: 10px;
    align-content: center;
    text-align: center;
    width: 600px; 
    height: 400px;
    background-color: rgb(4, 4, 4);
    color: white; 
    border-radius: 40px;
}


#taskinput{
 width: 200px;
}

#taskinput:hover{
    color: white;
   font-weight: bolder;
   font-size: large;
   height: 100px;
}
    

#taskbtn{
   width: 150px;
   border-radius: 12px;
   padding: 5px;
   color: rgb(8, 7, 7);
   font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
   border: none;
    outline: none;
    background: linear-gradient(to bottom, #82a19a 0%, #5f87dc 100%);
    color: #fff;
}

#taskbtn:hover{
    cursor: pointer;
    background: #ffc187;
     cursor: pointer;
    color: #000;
}

#clearAllBtn {
  margin-top: 20px;
  padding: 7px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
   border-radius: 20px;
}


.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rgba(50, 50, 50, 0.9); dark background for each task */
  border-radius: 8px;
  padding: 8px 12px;
}

.task-checkbox {
  margin-right: 10px;
  transform: scale(1.3);
  accent-color: #5f87dc;
}

.task span {
  flex: 1;
  color: white;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ff4d4d;
}

